:root {
    --main-color: #CC36A2;
    --filter-main-color: invert(28%) sepia(95%) saturate(2171%) hue-rotate(295deg) brightness(86%) contrast(84%);
    --secondary-color: #C5D96A;
    --filter-secondary-color: invert(96%) sepia(15%) saturate(1457%) hue-rotate(11deg) brightness(91%) contrast(86%);
    --text-title-color: #616C2A;
    --text-content-color: #4F4F4F;
    --button-color: #CC36A2;
    --footer-color: #333333;
  }